@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body {
  background-color: #FFED50;
	height: 100vh;
  font-family: 'Space Mono', monospace;
}
.search-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
  
}
.search-bar{
  padding: 0.5rem;
  width: 40%;
  background-color: #FCFCFC;
  border: 2px solid black;
  color: black;
  font-family: 'Space Mono', monospace;
  outline: none;
}
::placeholder { color: black; font-family: 'Space Mono', monospace;}
.search-button{
  padding: 0.5rem;
  background-color: black;
  color: #FCFCFC;
  border: 2px solid black;
  width: 10%;
  font-family: 'Space Mono', monospace;
}
.stationList{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.card{
  margin: 3em;
  background-color: #FCC5DC;
  border: 2px solid black;
  margin-bottom: 1em;
  background-image: radial-gradient(#000 20%, transparent 20%), radial-gradient(#000 20%, transparent 20%);
  background-position: 0 0, 0.5rem 0.5rem;
  background-size: 1rem 1rem;
}
.card:hover{
  box-shadow: 5px 10px
}
.text-station{
  text-align: center;
  background-color: #000;
  color: #FCFCFC;
  border: 2px solid black;
  border-left-style: none;
  padding: 0.2rem;
  width: 65%;
}
.audio-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.audio{
  transform: scale(0.75);
}
audio::-webkit-media-controls-panel {
  background: #FCFCFC;
}

@media only screen and (max-width: 600px){
  .stationList{
    grid-template-columns: 1fr;
  }
  .card{
    margin: 2em;
    background-image: none;
    background-position: none;
    background-size: none;
  }
  .search-bar{
    width: 70%;
  }
  .search-button{
    width: 20%;
  }
}

