body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.stationList{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1em;
}
.card{
  width: 85%;
  background-color: ghostwhite;
  border: 1px solid brown;
  border-radius: 1em;
  margin-bottom: 1em;
}
.textStation{
  text-align: center;
}
.audio-box{
  display: flex;
}
.audio{
  transform: scale(0.75);
}
audio::-webkit-media-controls-panel {
  background-color: #56AEFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
